.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  width: 80%;
  font-size: 3rem;
  background-color: #464646;
  color: #70E852;
  
}

p {
  margin: 0;
}